<head>
    <script type="text/javascript" src="../import/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="popup.js"></script>
    <link href="popup.css" rel="stylesheet">
</head>

<body>
    <button id="button" class="btn">Start a 60s record</button>
</body>